<section class="banner px-4">
  <div class="banner__box my-4 d-flex justify-content-center">
    <div class="banner-content px-5 w-75">
      <div class="title my-3">
        <h1 class="banner-title">Elevate Your Tech Game: Embrace Premium Gadgets for the Future</h1>
      </div>
      <div class="desc my-3">
        <p class="banner-description">Explore our curated collection of cutting-edge gadgets designed to elevate your
          tech experience. From the latest smartphones to innovative smart home devices, find the perfect gear to stay
          ahead in the digital age.</p>
      </div>
      <div class="explore-btn mt-5">
        <app-button buttonName="Explore Now"
                    type="submit"
                    length="m-auto"
                    [disabled]="false"
                    color="#007bff"></app-button>
        <a href="" class="ms-2">Learn More &rarr;</a>
      </div>
    </div>
  </div>
</section>
