@import "../../../_mixins";
.login {
  padding: 4vw 9vw;

  &__form {
    flex: 1;

    &-header {

      .header-title h3 {
        text-transform: uppercase;
        font-size: 1.5rem;
      }

      .header-signup a {
        color: #057fff;
      }
    }

    &-body {

      .form__body-input input{
        padding: .4rem .8rem;
        border: 2px solid rgb(0,0,0,0.2);
        border-radius: 50px;
        margin:.8rem 0;
        outline: none;
      }

      .reset-password a {
        color: #057fff;
      }

      button {
        width: 100%;
      }
    }

    &-footer {
      .horizontal-line {
        position: relative;
        text-align: center;
        border-top: 1px solid #000;
        margin: 20px 0;

        .line-text {
          position: relative;
          top: -1rem;
          display: inline-block;
          padding: 0 10px;
          background-color: #fff;
        }
      }

      .social {
        padding: .5rem .8rem;
        border: 2px solid #057fff;
        border-radius: 10px;
      }
    }
  }

  &__image {
    flex: 1;

    @include respond('small') {
      display: none;
    }
  }

}
